/*BODY*/

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EDE6F2;
}

/*HEADER*/

.barra{
    display: flex;
    background-color: #353531;
    color: white;
    align-items: center;
    padding: 10px;
}
.barra h1{
    margin-left: 10px;
    color: #8B80F9;
}
.barra h1 span{
    color: #23CE6B;
}
.barra li,.barra a{
    padding: 5px;
    font-size: 17px;
    display: inline;
    margin-right: 10px;
    text-decoration: none;
    color: #A5CC6B;
    list-style: none;
}
.barra a:hover{
    transition: 0.5s;
    padding: 5px;
    border-radius: 3px;
    background-color: #A5CC6B;
    color: white;
}
.menu {
    margin-left: auto;
}
.menu nav, .menu ul{
    padding: 0;
    margin: 0;
}

/*MAIN*/

.que-hace{
    display: flex;
    justify-content: center;
    align-items:center;
    background-image: url(../img/pasta-794464_1280.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
}
.contenido{
    display: flexbox;
    align-items: center;
    justify-content: center;
    background-color:rgba(139, 128, 249, 0.5);
    color: white;
    width: 1000px;
    height: 200px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.contenido h2{
    font-size: 35px;
}

.contenido p{
    font-size: 20px;   
}

.vision-mision {
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.vision-mision div {
    margin: 20px;
    padding: 20px;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.vision-mision h2 {
    font-size: 28px;
    color:#23CE6B;
    margin-bottom: 10px;
}
.vision-mision p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}

.reseñas{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reseñas h2{
    font-size: 40px;
    color: #8B80F9;
}
.comentarios{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.comentario{
    background-color:#c5c5c5;
    border-radius: 10px;
    width: 40vw;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
}
.comentario img{
    width: 40px;
    height: 40px;
    margin: 10px;
}
.comentario p strong{
    color: #73a12d;
    font-size: 15px;
}