/*BODY*/

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EDE6F2;
}

/*HEADER*/

.barra{
    display: flex;
    background-color: #353531;
    color: white;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}
.barra h1{
    margin-left: 10px;
    color: #8B80F9;
}
.barra h1 span{
    color: #23CE6B;
}
.barra li, .barra a{
    padding: 5px;
    font-size: 17px;
    display: inline;
    margin-right: 10px;
    text-decoration: none;
    color: #A5CC6B;
    list-style: none;
}
.barra a:hover{
    transition: 0.5s;
    padding: 5px;
    border-radius: 3px;
    background-color: #A5CC6B;
    color: white;
}
.menu {
    margin-left: auto;
}
.menu nav, .menu ul{
    padding: 0;
    margin: 0;
}

/*MAIN*/

.encabezado{
    background-color:#8B80F9;
    text-align: center;
    padding: 20px 0;
}

.encabezado h1 {
    color: white;
    font-size: 32px;
    margin: 0;
}

section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 28px;
    color:#23CE6B;
    margin-bottom: 10px;
}

.subtitulo {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}

.productos{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
}
.item{
    background-color: #c5c5c5;
    border-radius: 10px;
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color:#353531;
}
.item img {
    width: 30vw;
    height: 40vh;
}
.item h4{
    color: #8B80F9;
}

/* FOOTER */

footer {
    background-color: #353531;
    color: white;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}
.redes{
    display: flex;
    justify-content:flex-start;
}

.redes p strong{
    margin-left: 20px;
    color: #A5CC6B;
    font-size: 20px;
}
footer p{
    margin-right: 20px;
}
.redes a img{
    margin-top:10px ;
    width: 3vw;
    height: 3vw;
    margin-right: 10px;
}